@import url(../Companents/Home/home.css);
@import url(../Companents/Navbar/navbar.css);
@import url(../Login/login.css);
@import url(../Companents/User/user.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    height: auto;
}
